<div class='container-fluid' id='home-page-hero'>
  <div class='darkener'></div>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12'>
        <h1>San Francisco Housing Policy Guide</h1>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <p>Key data and overview of current policies to inform the discussion about housing availability in SF.</p>
        <p>A project of <a href='https://twitter.com/search?q=%23datasf' target='_blank'>#DataSF</a></p>
      </div>
    </div>
  </div>
</div>
<div class='container'>
  <h2>Policies and Program</h2>
  <div class='row'>
    <div class='col-sm-12'>
      <p>Current policies related to affordable housing for the City of San Francisco</p>
    </div>
  </div>
</div>