<div class='container admin'>
  <div class='row'>
    <div class='col-sm-12'>
      <%= form_for @dataset, url: admin_dataset_path(@dataset.id), method: 'PUT', html: { role: 'form', class: 'form-horizontal' } do |f| %>
        <%= render partial: 'form', locals: { f: f, dataset: @dataset } %>
        <%= f.submit 'Create', class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>
