<br/>
<div class='container'>
  <div class='row'>
    <%= render partial: 'data_group_tree', locals: { data_group_tree: @data_group_tree } %>
    <div class='col-sm-6'>
      <%= link_to 'Create a new data group', new_admin_data_group_path %>
    </div>
  </div>
</div>