<div class='container admin'>
  <div class='row'>
    <div class='col-sm-12'>
      <%= form_for @data_group, url: admin_data_groups_path, html: { role: 'form', class: 'form-horizontal' } do |f| %>
        <%= render partial: 'form', locals: { f: f, data_group: @data_group } %>
        <%= f.submit 'Create', class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>
