<div class='container admin'>
  <div class='row'>
    <div class='col-sm-12'>
      <%= form_for @policy, url: admin_policies_path, html: { role: 'form', class: 'form-horizontal' } do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
        <%= f.submit 'Create', class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>
