#data-browser-masthead {
  background: #333 image-url('san-francisco-city-night.jpg') 50% 50% no-repeat;
  height: 400px;
  color: white;
  margin-bottom: 30px;

  .container {
    height: 100%;
    position: relative;
    z-index: 3;
  }

  h2 {
    position: absolute;
    bottom: 20px;
  }
}

#data-browser {
  height: 640px;
  border: 1px solid #ccc;
  background: image-url('loading.gif');
}

#data-group-accordion {
  .panel {
    border-radius: 0;
  }

  .parent {
    padding: 0;
    border: none;
    > .panel-heading {
      background: white;
      border: none;
    }
  }

  .child {
    h6 {
      font-size: 1em;
    }
  }

  ul {
    list-style: none;
  }

  li {
    margin-top: 10px;
  }
}