html, body {
  height: 100%;
}

main {
  padding: 0;
  height: 100%;
}

h1 {
  font-size: 3.5em;
}

.darkener {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
}
