#home-page-hero {
  background: image-url('http://civinomics.files.wordpress.com/2014/01/san-francisco-fly-to-barcelona.jpg') 0% 0%;
  position: relative;
  height: calc(100% - 50px);
  margin-bottom: 30px;

  h1, p {
    color: white;
    position: relative;
    z-index: 2;
  }

  h1 {
    margin: 25% 0 20px;
  }

  p {
    font-size: 1.5em;
  }

  a {
    color: white;
  }
}

.thumbnail-holder {
  height: 80px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.policy-preview {
  margin-bottom: 20px;
  &:hover {
    h4 {
      text-decoration: underline;
    }
  }

  .policy-summary {
    max-height: 80px;
    overflow: hidden;
  }
}

#policies-listing {
  a {
    color: #333;
  }
}